
:root {
    --background-color: #FFFAF0;
    --text-primary: #333333;
    --text-secondary: #556B2F;
    --highlight: #8B0000;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  

  .header {
    text-align: center;
    padding: 5vh 2vw;
    background-color: var(--highlight);
    color: #FFFFFF;
  }
  
  .header h1 {
    font-size: 3rem;
  }
  

  .content {
    max-width: 800px;
    margin: 5vh auto;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .primary-text {
    font-size: 1.2rem;
  }
  
  .secondary-text {
    font-size: 1rem;
    color: var(--text-secondary);
  }
  
  .highlight {
    font-size: 1.2rem;
    color: var(--highlight);
    font-weight: bold;
    text-align: center;
  }

  .footer {
    text-align: center;
    padding: 2vh 0;
    background-color: var(--text-secondary);
    color: #FFFFFF;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 2.5rem;
    }
  
    .primary-text,
    .highlight {
      font-size: 1rem;
    }
  
    .secondary-text {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 2rem;
    }
  
    .primary-text,
    .highlight {
      font-size: 0.9rem;
    }
  
    .secondary-text {
      font-size: 0.8rem;
    }
  }
  